{% load static %}

<div class="main-title">
  <img src="{% static 'images/profile.jpg' %}" alt="">
  <div class="main-text">
    <h2>Atli Snær Ásmundsson</h2>
    <h3>Málfræðingur / Forritari</h3>
  </div>
</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dignissimos magni quia. Nesciunt, sed? Mollitia fugiat consectetur delectus modi, harum voluptas sed similique, ipsum vitae, adipisci ipsa facilis odit earum.
In blanditiis quas accusantium aspernatur asperiores soluta officia, incidunt quasi dolorum maiores tempora reiciendis fugiat nostrum unde iusto tenetur sapiente ipsam voluptatem nihil. Sit dolore soluta architecto assumenda? Corporis, deleniti!
Facilis nemo totam, nihil eveniet odio consequuntur vero modi neque sequi, officiis rem nisi iure atque. Assumenda, impedit harum tempora omnis quos quo tenetur eaque facilis et a alias voluptas.
Voluptates, corrupti libero quos voluptatum modi saepe, perferendis nemo quaerat ipsam illum excepturi ut doloribus architecto, repellendus quisquam omnis odio inventore unde eveniet nihil nisi! Unde cum harum ab quam?
Nulla inventore quisquam fugit libero nisi a voluptas sapiente repellendus nobis error officiis vitae qui voluptatibus quidem atque, laboriosam necessitatibus, eaque reprehenderit omnis? Atque beatae suscipit dicta maxime sequi consectetur.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tenetur aperiam aliquam sit tempore! Optio laborum veritatis commodi maxime a provident similique alias. Harum, id facilis. Repudiandae tempora veniam culpa?
Ea sit, recusandae nostrum sequi quisquam quaerat, consequatur temporibus, esse ut reiciendis sunt. Aliquam corporis dicta quaerat similique illo, iure quasi. Quod ab, quae laborum necessitatibus accusantium impedit provident dolorum.
Corporis, iusto non in culpa quo, nesciunt rem quae, temporibus repudiandae laudantium consectetur veritatis iure vitae enim autem ea animi a. Laborum voluptatum accusantium eum, non ex perferendis iste sunt!</p>