<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/css/styles.css' %}">
    <script type="module" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script type="module" src="{% static 'js/ajax.js' %}"></script>
  <title>
    {% block title_block %}
      Atli Snær
    {% endblock title_block %}
  </title>
</head>
<body>
    <nav>
      <ul class="nav-list">
        <li class="nav-item" id="about">UM MIG</li>
        <li class="nav-item" id="education">MENNTUN</li>
        <li class="nav-item" id="work">REYNSLA</li>
        <li class="nav-item" id="skills">HÆFNI</li>
        <li class="nav-item" id="music">TÓNLIST</li>
        <li class="nav-item" id="email">HAFA SAMBAND</li>
      </ul>
      <div class="separator"></div>
    </nav>
    <button class="hamburger">
      <i class="menuIcon material-icons">menu</i>
      <i class="closeIcon material-icons">close</i>
    </button>
  <div class="grid-wrapper">
    <div class="grid-container">
    {% block body_block %}
    
    {% endblock body_block %}
    </div>
  </div>
  <footer>
    <div class="footer-wrapper">
      <div class="footer-content">
        <h3>HLEKKIR</h3>
        <div class="footer-links">
          <a target="_blank" href="https://www.facebook.com/atliasmunds/">
            <img class="icon" src="{% static 'svgs/facebook.svg' %}" alt="">
            /atliasmunds
          </a>
          <a target="_blank" href="https://www.instagram.com/atlibassi/">
            <img src="{% static 'svgs/instagram.svg' %}" alt="" class="icon">
            @atlibassi
          </a>
          <a target="_blank"href="https://github.com/AtliAsmunds">
            <img src="{% static 'svgs/github.svg' %}" alt="" class="icon">
            /AtliAsmunds
          </a>
          <a href=".">Hafa Samband</a>
        </div>
        <span class="footer-info">Gert með Django 4.1 og jQuery 3.6.</span>
      </div>
    </div>
  </footer>
</body>
</html>
