{% load static %}

<div class="title">
  <img src="{% static 'svgs/education.svg' %}" alt="" class="title-icon">
  <h1>MENNTUN</h1>
</div>
{% if degrees %}
  <div class="card-container">
  {% for degree in degrees %}
    <div class="school-card card">
    <span class="year">
      {{ degree.year_start }} -
      {% if degree.year_end %}
        {{ degree.year_end }}
      {% else %}
        present
      {% endif %}
    </span>
    <div class="card-content">
      <span class="card-header">
        {{ degree.degree }}
      </span>
      <h4>{{ degree.school}}</h4>
      {% if degree.description %}
        <p>{{ degree.description }}</p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  </div>
{% endif %}