{% load static %}

<div class="title">
  <img src="{% static 'svgs/music.svg' %}" alt="" class="title-icon">
  <h1>TÓNLIST</h1>
</div>
<div class="card-container">
  <iframe class="bandcamp" src="https://bandcamp.com/EmbeddedPlayer/album=3545879364/size=large/bgcol=000000/linkcol=0687f5/transparent=true/" seamless>
    <a href="https://kvelja.bandcamp.com/album/and-rot">Andþrot by Kvelja</a>
  </iframe>
  <div class="music-info">
    <h2>Kvelja</h2>
    <p>Kvelja er öfgafull og leðjukennd þungarokkshljómsveit, skipuð af Atla (<i>gítar/öskur</i>), Hreini (<i>bassi/öskur</i>) og Sigga (<i>trommur</i>). Hún hefur starfað slitrótt frá um 2013, en þá undir öðru nafni. Í kringum 2018 fékk sveitin nafnið sem hún ber í dag, auk þess að slipa stefnu sína. Síðan þá hefur hún spilað á fjölda tónleika. Um páskana 2022 gaf sveitin svo út sína fyrstu plötu, <i>Andþrot</i>. Eins og stendur vinnur hún að nýrri plötu, en hún er væntanleg á næsta ári. Endilega fylgið okkur á <a href="https://www.facebook.com/kvelja">Facebook</a> eða <a href="https://www.instagram.com/kvelja_band/">Instagram</a> ef þið viljið fylgjast með.</p>
    <div class="music-video">  <iframe src="https://www.youtube.com/embed/fCl8nRz_Kig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
  </div>
</div>