{% load static %}

<div class="title">
  <img src="{% static 'svgs/music.svg' %}" alt="" class="title-icon">
  <h1>TÓNLIST</h1>
</div>
<div class="card-container">
  <iframe class="bandcamp" src="https://bandcamp.com/EmbeddedPlayer/album=3545879364/size=large/bgcol=000000/linkcol=0687f5/transparent=true/" seamless>
    <a href="https://kvelja.bandcamp.com/album/and-rot">Andþrot by Kvelja</a>
  </iframe>
  <div class="music-info">
    <h2>Kvelja</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique nesciunt repellat nisi minima accusantium nulla? Quod odit sint, quos voluptas voluptatum itaque adipisci? Excepturi velit aliquam odio, voluptate obcaecati nemo!
      Eveniet aliquam reiciensddis tempore quas obcaecati aperiam commodi asperiores est laboriosam exercitationem, accusamus pariatur doloribus perspiciatis totam placeat officia ab sint. Beatae illo pariatur id nulla et obcaecati voluptatem ad!
      Ut enim, qui est officia voluptas corporis omnis dignissimos hic pariatur molestias, facere totam veritatis minus consequatur suscipit sint et dolor fugiat voluptate ipsum id voluptatibus numquam. Quo, alias nam.
    </p>
    <div class="music-video">  <iframe src="https://www.youtube.com/embed/fCl8nRz_Kig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
  </div>
</div>