<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <title>Leynisveinki</title>
    <link rel="stylesheet" href="{% static 'styles/css/santa.css' %}">
    <script type="module" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script type="module" src="{% static 'js/ajax.js' %}"></script>
</head>
<body>
    {% comment %} <canvas id="myCanvas"></canvas> {% endcomment %}
    <div class="santa-form-wrapper">
        <h1>Skráðu þátttakendur:</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="santa-buttons">
                <input type="submit" value="Draga" />
                <button type="button" id="add-name">Bæta við</button>
                <button type="button" id="remove-name" disabled>Fjarlægja</button>
            </div>
            <div class="name-inputs">
                <div>
                    <input
                    type="text"
                    id="name1"
                    name="name1"
                    placeholder="Nafn 1"
                    /><input
                    type="email"
                    name="mail1"
                    id="mail1"
            placeholder="Email 1"
          /><br />
        </div>
    </div>
</form>
{% if was_sent is not None %}
{% if was_sent is True %}
<h3>Upplýsingar hafa verið sendar á skráða þátttakendur</h3>
    {% else %}
    <h3>Ekki tókst að senda póst á viðtakendur.</h3>
    {% endif %}
    {% endif %}
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
<script src="{% static 'js/floating-gifts.js'%}"></script>
</html>
