<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>Name Input</title>
    <script type="module" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script type="module" src="{% static 'js/ajax.js' %}"></script>
</head>
<body>
    <h1>Skráðu þátttakendur:</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="name-inputs">
          <div>
            <label for="name1">Nafn 1:</label><br>
            <input type="text" id="name1" name="name1"><br>
          </div>
        </div>
          <input type="submit" value="Draga">
          <button type="button" id="add-name">Bæta við</button>
          <button type="button" id="remove-name" disabled>Fjarlægja</button>
    </form>
    {% if names %}
        <h1>Niðurstöður:</h1>
        <ul>
            {% for name in names %}
                <li>{{ name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
