<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <title>Leynisveinki</title>
    <script type="module" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script type="module" src="{% static 'js/ajax.js' %}"></script>
  </head>
  <body>
    <h1>Skráðu þátttakendur:</h1>
    <form method="POST">
      {% csrf_token %}
      <div class="name-inputs">
        <div>
          <input
            type="text"
            id="name1"
            name="name1"
            placeholder="Nafn 1"
          /><input
            type="email"
            name="mail1"
            id="mail1"
            placeholder="Email 1"
          /><br />
        </div>
      </div>
      <input type="submit" value="Draga" />
      <button type="button" id="add-name">Bæta við</button>
      <button type="button" id="remove-name" disabled>Fjarlægja</button>
    </form>
    {% if was_sent is not None %}
        {% if was_sent is True %}
            <h3>Upplýsingar hafa verið sendar á skráða þátttakendur</h3>
        {% else %}
            <h3>Ekki tókst að senda póst á viðtakendur.</h3>
        {% endif %}
    {% endif %}
  </body>
</html>
