@import 'variables';

footer {
  width: 100vw;
  // height: 200px;
  background-color: rgb(61, 61, 61);
  padding-top: $grid-gutter;
  padding-bottom: $grid-gutter;

  a {
    color: $color-beige;
    text-decoration: none;
  }

}

.footer-wrapper {
  display: flex;
  margin-left: $grid-margin;
  margin-right: $grid-margin;
  justify-content: center;
  height: 100%;

  @media (max-width: $max-mobile-size) {
    margin: 0 calc(#{$grid-margin} / 2);
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: $color-beige;

  h3::after {
    display: block;
    content: '';
    position: absolute;
    border-bottom: 1px solid $color-beige;
    width: $footer-line-width;
    left: calc(50% - #{$footer-line-width}/2);
  }

}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  // justify-content: space-between;

  a:not(:last-of-type) {
    display: flex;
    line-height: 32px;
    width: 100%;
    align-items: center;
    // text-align: center;

    &:hover {
      color: $color-beige-hover;
      filter: $icon-filter-hover;
    }
  }

  a:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.footer-info {
  align-self: stretch;
  text-align: center;
}

.icon {
  // float: left;
  width: 32px;
  height: 32px;
  margin-right: 1rem;
  filter: $icon-filter;
}