@import 'variables';

nav {
  display: flex;
  width: 100vw;
  flex-direction: column;

  @media (max-width: $max-mobile-size) {
    position: fixed;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    z-index: 99;
    background: $color-gray;
    color: $color-beige;

    padding: $grid-gutter 0;
    transition: transform 300ms ease-in-out;

  }
}

.nav-list {
  display: flex;
  margin-right: $grid-margin;
  margin-left: $grid-margin;
  height: $nav-list-height;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $max-mobile-size) {
    flex-direction: column;
    height: fit-content;
  }
}

.nav-item {
  font-size: clamp($nav-item-font-size-min, 1vw, $nav-item-font-size-max);
  text-align: center;
  
  &::after {
    display: block;
    content: '';
    border-bottom: solid 2px $color-gray;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
  }

  &:hover {
    cursor: pointer;
  }

  @media (max-width: $max-mobile-size) {
    margin: $grid-gutter 0;

    &:hover {
      color: $color-beige-hover;
    }
  }

}

.separator {
  display: block;
  border-bottom: 1px black solid;
  width: calc(60% + 2 * #{$grid-gutter});
  align-self: center;
  // height: 1px;
}

.hamburger {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: none;
  border-radius: $border-radius;
  background: none;
  transition: background 100ms ease-in-out;
  cursor: pointer;
  z-index: 999;
  transition: display 300ms ease-in-out;

  &:hover {
    background: $color-beige-hover;
  }

  @media (max-width: $max-mobile-size) {
    display: block;
  }
}

.menuIcon {
  display: none;
  @media (max-width: $max-mobile-size) {
    display: block;
  } 
}

.closeIcon {
  display: none;
}

.showMenu {
  transform: translateY(0);
}