.title {
  display: flex;
  grid-column: 1/-1;
  justify-content: center;
  margin-bottom: $title-bottom-margin;

  h1 {
    line-height: $icon-title-height;
    margin-left: calc(#{$grid-gutter}/2);
  }

  @media (max-width: $max-tablet-size) {
    flex-direction: column;

    h1 {
      margin: 0 auto;
    }
  }
}

.title-icon {
  height: $icon-title-height;
  margin-right: calc(#{$grid-gutter}/2);
}

